.cart-widget {
  position: relative;
}

.pill {
  position: absolute;
  background-color: tomato;
  color: beige;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 20px;
  top: -5px;
  right: -4px;
}

.cart-widget__icon {
  font-size: 40px;
}