.header {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.navbar__item {
  padding: 14px;
  line-height: 1;
  color: rgb(73, 73, 73);
  cursor: pointer;
  transition: all .4s linear ;
}

.navbar__item:hover {
  background-color: rgb(73, 73, 73);
  color: azure;
  border-radius: 6px;
}

.navbar__link {
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: oblique;
}